@import "./normalize.css";

@import "./variables.css";

body {
  background-color: var(--c-dark-blue-main);
  color: var(--c-white);
  font-size: 18px;
  font-family: "Outfit", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nft-card {
  border-radius: 3%;
  background-color: var(--c-dark-blue-card);
  padding: 25px;
  max-height: 620px;
  max-width: 320px;
}

.nft-preview {
  cursor: pointer;
  border-radius: 3%;
  width: 320px;
  height: 320px;
  margin: auto;
  background-image: url(../images/image-equilibrium.jpg);
  background-position: center;
  background-size: cover;
}

.active-nft-preview:hover {
  opacity: 1;
}

.active-nft-preview {
  transition: opacity 0.3s ease-in-out;
  border-radius: 3%;
  width: 320px;
  height: 320px;
  position: absolute;
  z-index: 20;
  background-color: var(--c-cyan-transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.active-nft-preview > img {
  width: 60px;
  height: 60px;
}

.nft-name {
  transition: color 0.3s ease-in-out;
}

.nft-name:hover {
  color: var(--c-cyan);
  cursor: pointer;
}

.nft-description {
  color: var(--c-soft-blue);
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.5em;
}

.nft-data {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid var(--c-dark-blue-line);
  margin-bottom: 5px;
}

.data-items {
  display: flex;
  align-items: center;
}

.data-images {
  width: 20px;
}

.nft-price {
  color: var(--c-cyan);
  font-weight: 600;
}

.nft-time {
  color: var(--c-soft-blue);
  font-weight: 400;
}

.author-data {
  display: flex;
  align-items: center;
}

.avatar-image {
  margin-right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--c-white);
}

.author-name {
  font-size: 0.9em;
  color: var(--c-soft-blue);
}

.author-name > span {
  color: var(--c-white);
  transition: color 0.3s ease-in-out;
}

.author-name > span:hover {
  cursor: pointer;
  color: var(--c-cyan);
}

.attribution {
  margin-top: 30px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
